.trusted-restaurants {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 2rem;
  text-align: center;
}

.trust-title {
  text-align: center;
  width: 760px;
  font-size: 2rem;
  color: #333;
  margin: 40px auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  padding-bottom: 80px;

}

.trust-title img {
  width: 178px;
  margin-left: 18px;
}

.logos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
}


.restaurant-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  transition: transform 0.3s ease;
}

.restaurant-logo:hover {
  transform: scale(1.1);
}

.restaurant-logo img {
  width: 260px;
  max-width: 150%;
  /* max-height: 100%; */
  object-fit: contain;
}

@media (max-width: 768px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .trust-title {
    font-size: 1.5rem;
  }
}