:root {
  --primary-red: #F54748;
  --primary-text: #2E2E2E;
  --secondary-text: #5C5C5C;
  --yellow-rating: #FFCB45;
  --white: #FFFFFF;
  --bg-light: #F9F9F9;
  
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light;
  color: var(--primary-text);
  background-color: var(--white);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text);
  font-weight: 700;
}

p {
  color: var(--secondary-text);
}

button {
  font-family: inherit;
}